<div class="container">
  <h1>都道府県マスター</h1>
  <div class="buttons">
    <%= link_to quiz_start_path, class: "btn btn-primary" do %>
      <i class="fas fa-flag"></i> スタート
    <% end %>
    <%= link_to rankings_path, class: "btn btn-secondary" do %>
      <i class="fas fa-trophy"></i> ランキング
    <% end %>
    <%= link_to questions_path, class: "btn btn-info" do %>
      <i class="fas fa-list"></i> 問題リスト
    <% end %>
  </div>
</div>
